h1
{
    color: rgb(255, 217, 217)
}

a:link
{ 
    text-decoration: none; color: rgb(255, 217, 217); }
    a:visited { text-decoration: none; color : rgb(255, 217, 217); }
    a:hover { text-decoration: none; color : rgb(255, 217, 217); }
    a:focus { text-decoration: none; color : rgb(255, 217, 217); }
    a:hover, a:active { text-decoration: none; color : rgb(255, 217, 217); }
}

